img.animal-image {
  border: 2px solid #ddd;
  border-radius: 5px;
  transition: transform 0.3 ease;
}

/* Names in bold for Dogs Table */
#dogsTableBody td:nth-child(1) {
  font-weight: bold;
}

/* Names in bold, italic and blue color for Big Fish Table */
#fishTableBody td:nth-child(1) {
  font-weight: bold;
  font-style: italic;
  color: blue;
}
